.examples {
  display: grid;

  @media (min-width: 800px) {
    grid-template-columns: 400px 400px;
  }

  @media (min-width: 1210px) {
    grid-template-columns: 400px 400px 400px;
  }

  >div {
    border: 1px dotted #ccc;
  }
}
